@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato-Regular";
  src: url("/src/assets/Font/Lato-Regular.ttf") format("truetype");
}

body {
  font-family: "Lato-Regular", sans-serif;
}
